<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>home_screen</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400,100|Roboto+Condensed:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/home_screen-grid.css">
  <link rel="stylesheet" href="css/home_screen.css">
</head>
<body class="body page-home_screen clearfix">
  <div class="page_1 clearfix">
    <p class="text _text">Sign Up Now:</p>
    <input class="_input" placeholder="example@mail.com" type="text">
    <button class="_button">Submit</button>
    <div class="main_logo"></div>
    <div class="button_container clearfix">
      <button class="smart_home">What is a smart home?</button>
      <button class="need_to_start">What do I need to start?</button>
      <%= link_to(grid_path) do %>
        <button class="products">Products</button>
      <% end %>
    </div>
  </div>
  <div class="page_2 clearfix">
    <div class="title_bars">
      <p class="title_bar1">Be Your Home's</p>
      <p class="title_bar2">TECH&nbsp;ARCHITECT</p>
    </div>
    <p class="title_bar3">With Blueprint, create and control your own Smart Home</p>
  </div>
  <div class="page_3 clearfix">
    <p class="text ignore text-2">What Do I Need to Start?</p>
    <div class="text_container clearfix">
      <%= image_tag("number1(2)-30x30.png", class: "ignore ignore-2") %>

      <p class="text ignore text-3">In-home wifi router</p>

      <%= image_tag("number2-30x30.png", class: "ignore ignore-4") %>

      <p class="text ignore text-4">Blueprint product Hub</p>

      <%= image_tag("number3-30x30.png", class: "ignore ignore-6") %>

      <p class="text ignore text-5">Free Blueprint Control Panel™ app</p>

      <%= image_tag("images/number4-30x30.png", class: "ignore ignore-8") %>


      <p class="text ignore text-6">Your first product</p>
    </div>


      <%= image_tag("images/phones-300x290.png", class: "ignore ignore-8") %>

  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>
